<div class="main">
  <!----- Start Slider Part ------>
  <div class="slider">
    <div class="slider-right-h3">Contact Us Today</div>
    <div class="slider-right-p">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
    <div align="center">
      <form action="" method="post">
        <input
          name=""
          type="text"
          class="slider-right-form"
          placeholder="First Name"
        />
        <input
          name=""
          type="text"
          class="slider-right-form"
          placeholder="Last Name"
        />
        <input
          name=""
          type="email"
          class="slider-right-form"
          placeholder="Email ID"
        />
        <input
          name=""
          type="text"
          class="slider-right-form"
          placeholder="Mobile"
        />
        <textarea
          name=""
          rows="4"
          class="slider-right-textarea"
          placeholder="Message"
        ></textarea>
        <button type="button" class="slider-right-btn">Send Message</button>
      </form>
    </div>
  </div>
</div>
