<div class="header-container">
  <div class="logo" (click)="goToHome()"> subscription</div>
  <div class="logout" (click)="logout()">logout</div>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="/home">EasyTreveler.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/showdestination">Destinations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/hotelslist">Hotels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/itinerary">Itinerary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactus">Contact Us</a>
        </li>

      </ul>
    </div>
  </nav>
</div>