<html>
<head>
<title>TOURS and TRAVELS WEBSITE</title>
<!-- <link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" /> -->
</head>
<body>

<div class="main">
 <!----- Start Slider Part ------>
<div class="slider">
	<div class="slider-left">
    	<div class="slider-left-h2">EasyTraveler.com, Prone to Provide Easy Travel Experience.</div>
        <div class="slider-left-p">EasyTraveler.com is a simple and secure plateform to find your holiday destinations worldwide.
            It provides you a beeter experience for popular destination in term of reliable and secure information. 
       
        </div>
    </div>
    <!-- <div class="slider-right">
    	<div class="slider-right-h3">Contact Us Today</div>
        <div class="slider-right-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div align="center">
        <form action="" method="post">
        	<input name="" type="text" class="slider-right-form" placeholder="First Name">
            <input name="" type="text" class="slider-right-form" placeholder="Last Name">
            <input name="" type="email" class="slider-right-form" placeholder="Email ID">
            <input name="" type="text" class="slider-right-form" placeholder="Mobile">
            <textarea name="" rows="4" class="slider-right-textarea" placeholder="Message"></textarea>
            <button type="button" class="slider-right-btn">Send Message</button>
        </form>
        </div>
    </div> -->
</div>
<!------ Start Content  ------>
<div class="content">
	<div class="content-h2">WHY BOOK WITH US</div>
    <div class="content-h4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    Lorem Ipsum has been the industry's standard dummy text.</div>
    <div class="content-parts">
    	<div class="content-parts-icons"><i class="fa fa-inr" style="padding-top:5px;"></i></div>
        <div class="content-parts-h3">Realtime Security Alerts</div>
        <div class="content-parts-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
    </div>
    <div class="content-parts">
    	<div class="content-parts-icons"><i class="fa fa-book"></i></div>
        <div class="content-parts-h3">Personalized Iterenity Plans</div>
        <div class="content-parts-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
    </div>
    <div class="content-parts">
    	<div class="content-parts-icons"><i class="fa fa-support"></i></div>
        <div class="content-parts-h3">Best Travel Suggestions</div>
        <div class="content-parts-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
    </div>
</div>
<!------ End Content  ------->


<!------- Start Content Part 2  -------->
<div class="content-part-2">
	<div class="content-part-2-h3">Holiday Destinations In India</div>
    <div class="border-bottom"></div>
    
	<div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/1.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Bangalore</div>
        <div class="content-part-2-sub-p">Known as both the "Garden City" and "The Silicon Valley of India," Bangalore (officially "Bengaluru") is a techie’s paradise, boasting the highest concentration of IT companies in the country.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>13500.00/-</div>
        <div><a href="/destinationdetails" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/cherai-beach.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Kerla</div>
        <div class="content-part-2-sub-p">India’s millennia-old natural medicine, Ayurveda, is the guiding force in southern state Kerala’s famed health resorts.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>20000.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/3.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Ooty</div>
        <div class="content-part-2-sub-p">Popularly referred to as Ooty, this gem among southern hill resorts is covered in eucalyptus and pine trees and coffee and tea plantations.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>85000.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/4.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Laddakh</div>
        <div class="content-part-2-sub-p">The landscape of Ladhak, a high altitude desert, is defined by craggy, barren cliffs and plateaus. Ladhak is a favourite among adventure sports enthusiasts, offering unique adventures in trekking, mountaineering and white water rafting.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>125500.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/5.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Agra</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>180000.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/6.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Shimla</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>95000.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/7.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Goa</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>150000.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/8.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Delhi</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>250000.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
</div>
<div class="content-part-2">
	<div class="content-part-2-h3">International Holiday Destinations</div>
    <div class="border-bottom"></div>
    
	<div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/1.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Dubai, UAE</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>13500.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/2.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Bangkok, Thailand</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>20000.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/3.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Bali, Indonesia </div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>85000.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/4.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">London, England </div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>125500.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/5.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Singapore</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>180000.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/6.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Paris, France</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>95000.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/7.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Switzerland, Europe</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>150000.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/8.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Sydney, Australia</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>250000.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
</div>
<!------- End Content Part 2  --------->

<!------- Start Content Part 3  --------->
<div class="content-part-3">
	<div class="content-part-2-h3">Hotels &amp; Restaurants</div>
    <div class="border-bottom"></div>
    
	<div class="content-part-3-left"><img src="assets/images/hotel-1.jpg" width="300" height="180"></div>
    <div class="content-part-3-right">
    	<div class="content-part-3-right-h4">Lorem Ipsum ( Top Hotels )</div>
        <div class="content-part-3-right-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-3-right-price">1 Day : <span class="fa fa-inr"></span>15000.00/-</div>
        <div><a href="#!" class="content-part-3-right-btn">Details</a></div>
    </div>
    <div class="content-part-3-left"><img src="assets/images/hotel-2.jpg" width="300" height="180"></div>
    <div class="content-part-3-right">
    	<div class="content-part-3-right-h4">Lorem Ipsum ( Top Hotels )</div>
        <div class="content-part-3-right-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-3-right-price">1 Day : <span class="fa fa-inr"></span>14500.00/-</div>
        <div><a href="#!" class="content-part-3-right-btn">Details</a></div>
    </div>
    <div class="clearfix"></div>
    <div class="content-part-3-left"><img src="assets/images/hotel-3.jpg" width="300" height="180"></div>
    <div class="content-part-3-right">
    	<div class="content-part-3-right-h4">Lorem Ipsum ( Top Hotels )</div>
        <div class="content-part-3-right-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-3-right-price">1 Day : <span class="fa fa-inr"></span>13000.00/-</div>
        <div><a href="#!" class="content-part-3-right-btn">Details</a></div>
    </div>
    <div class="content-part-3-left"><img src="assets/images/hotel-4.jpg" width="300" height="180"></div>
    <div class="content-part-3-right">
    	<div class="content-part-3-right-h4">Lorem Ipsum ( Top Hotels )</div>
        <div class="content-part-3-right-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-3-right-price">1 Day : <span class="fa fa-inr"></span>12500.00/-</div>
        <div><a href="#!" class="content-part-3-right-btn">Details</a></div>
    </div>
</div>
<!------- End Content Part 3  --------->


<div class="clearfix"></div>
</div>

</body>
</html>