<!DOCTYPE html>
<html>

<body class="" id="top">

    <div>
        <!--==============================header=================================-->

        <div class="menu_block ">
            <div class="container_12">
                <div class="grid_12">
                    <div class="div-tabs">
                        <div id="tab-1" class="tab-content">
                            <img src="assets/images/page2_img1.jpg" alt="" class="img_inner fleft">
                            <div class="extra_wrapper">
                                <div class="col2">
                                    <a href="#">Aliquam dapibus tincidunt metus</a>
                                    <div class="stars">
                                        <span class="active"></span>
                                        <span class="active"></span>
                                        <span class="active"></span>
                                        <span class=""></span>
                                        <span class=""></span>
                                    </div>
                                </div>
                                <span class="fa fa-star" name="val1" [innerHTML]="destination.name"></span>
                                <br>
                                <strong class="fa fa-star" name="val1" [innerHTML]="destination.num_reviews"></strong>
                                <p>
                                Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy
                                hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis
                                natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                Nulla dui. Fusce feugiat malesuada odio.</p>
                                <br>
                                <a href="#" class="btn">show prices</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>