<html>
<head>
<title>TOURS and TRAVELS WEBSITE</title>
<!-- <link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" /> -->
</head>
<body>

<div class="main">
<!------ Start Content  ------>

<!------ End Content  ------->


<!------- Start Content Part 2  -------->
<div class="content-part-2">
	<div class="content-part-2-h3">Top Historical Places</div>
    <div class="border-bottom"></div>
    
	<div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/1.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Bangalore</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>13500.00/-</div>
        <div><a href="/historicalplace" class="content-part-2-sub-btn">Details</a></div>
        <div><a href="/cuisine" class="content-part-2-sub-btn">Review</a></div>
       
        
    
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/2.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Kerla</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>20000.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/3.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Ooty</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>85000.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/4.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Laddakh</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>125500.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    
</div>
<div class="content-part-2">
	<div class="content-part-2-h3">Best Culturel Places/Activities to Do</div>
    <div class="border-bottom"></div>
    
	<div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/1.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Bangalore</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>13500.00/-</div>
        <div><a href="/destinationdetails" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/2.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Kerla</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>20000.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/3.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Ooty</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>85000.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/4.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Laddakh</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>125500.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    
</div>
<div class="content-part-2">
	<div class="content-part-2-h3">Delicious Cusines In City</div>
    <div class="border-bottom"></div>
    
	<div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/1.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Bangalore</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>13500.00/-</div>
        <div><a href="/destinationdetails" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/2.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Kerla</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>20000.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/3.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Ooty</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>85000.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/4.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Laddakh</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>125500.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    
</div>
<div class="content-part-2">
	<div class="content-part-2-h3">Local Events in City</div>
    <div class="border-bottom"></div>
    
	<div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/1.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Bangalore</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>13500.00/-</div>
        <div><a href="/destinationdetails" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/2.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Kerla</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>20000.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/3.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Ooty</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>85000.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    <div class="content-part-2-sub">
    	<div align="center"><img src="assets/images/4.jpg" width="260" height="170"></div>
        <div class="content-part-2-sub-h4">Laddakh</div>
        <div class="content-part-2-sub-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="content-part-2-sub-price">From <span class="fa fa-inr"></span>125500.00/-</div>
        <div><a href="#!" class="content-part-2-sub-btn">Details</a></div>
    </div>
    
</div>

<!------- End Content Part 2  --------->

<!------- Start Content Part 3  --------->

<!------- End Content Part 3  --------->


<div class="clearfix"></div>
</div>

</body>
</html>